h1 {
    color: darkgreen;
}

h2 {
    color: #1460aa;
    background-color: #e1c9c9;
}

section {
    background-color: #fefefe;
}

.czerwony {
    color: red;
}

#szkolenie {
    background: yellow;
}

a {
    color: green;
}

section a {
    color: orange;
}

.my-article p {
    background: #53585e;
    color: white;
}