html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
	color: darkgreen;
	padding: 16px;
}

h2 {
	color: #1460aa;
	background-color: #e1c9c9;
	padding: 16px;
}

section {
	background-color: #fefefe;
}

.czerwony {
	color: red;
}

#szkolenie {
	background: yellow;
	padding: 16px;
}

a {
	color: green;
}

section a {
	color: orange;
}

section {
	padding: 16px;
}

footer {
	padding: 16px;
}

.my-article p {
	background: #53585e;
	color: white;
	padding: 16px;
}

header {
	padding: 16px;
}